body {
    margin: 0 0 0 0;
}

.admin_header {
    background-color: red;
    width: 100%;
    height: 200px;
}

.update_password {
    margin-left: 1400px;
    padding-top: 25px;

}

.header_body a {
    color: black;
    float: left;
    font-size: 22px;
    margin-top: 70px;
    margin-left: 200px;
    text-decoration: none;
}
