<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/adminIndex.css"
          th:href="@{../static/css//adminIndex.css}">
</head>
<body>
<div class="admin_header">
    <div class="update_password">
        <a href="https:www.baidu.com" style="text-decoration: none;color: black">修改密码</a>
    </div>
    <div class="header_body">
        <a href="https:www.baidu.com">查看房屋</a>
        <a href="https:www.baidu.com">添加房屋</a>
        <a href="https:www.baidu.com">修改房屋</a>
        <a href="https:www.baidu.com">查看租客</a>
    </div>
</div>
</body>
</html>