<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{../static/css/login.css}"/>

</head>
<body>
<div class="containerss">
    <form action="/admin" method="post">
        <p class="headline">用户登录</p>
        <p class="astyle">用户名：</p>
        <input type="text" name="username" placeholder="请输入您的账号">
        <p class="astyle">密码：</p>
        <input type="password" name="password" placeholder="请输入密码">
        </br>
        <input type="submit" value="登录">
        </br>
        <p class="bstyle"><input type="checkbox">记住密码</p>
        <p><a class="cstyle" href="https://www.baidu.com">忘记密码</a></p>
        </br></br>
        <p class="dstyle">没有账号？<a style="margin-left: 15px" href=https://www.baidu.com>立即注册</a></p>
    </form>
</div>


</form>
</body>
</html>