<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="house.rental.system.dao.LeaseMapper">

    <select id="indexOwn" resultType="house.rental.system.model.dto.LeaseDto">
        select * from lease where commission_id = #{id}
    </select>

    <select id="indexTenant" resultType="house.rental.system.model.dto.LeaseDto">
        select * from lease where tenant_id = #{id}
    </select>

    <select id="checkId" resultType="java.lang.Integer">
        select house_rental.order.id from house_rental.order where owner_id = #{id}
    </select>
</mapper>
