<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="house.rental.system.dao.UserMapper">
    <insert id="insertUser">
        insert into user (email,user.code,status)
        values
        (#{userInfo.email,jdbcType=VARCHAR},#{userInfo.code,jdbcType=VARCHAR},#{userInfo.status,jdbcType=INTEGER})
    </insert>
    <select id="check" resultType="java.lang.Integer">
        select id from user where email=#{user.email} and code=#{user.code}
    </select>
    <update id="updateStatus">
        update user set status = 1,password=#{user.password} where email=#{user.email}
    </update>
    <select id="selectIdByEmail" resultType="java.lang.Integer">
        select id from user where email=#{email}
    </select>
    <update id="updatePassword">
        update user set password=#{passwordVO.newPwd} where id =#{param1.id} and password=#{param1.oldPwd}
    </update>
    <select id="checkUser" resultType="java.lang.Integer">
        select id from user where email=#{email} and password=#{password} and status=1
    </select>
    <select id="selectUserInfoResult" resultType="house.rental.system.model.result.UserInfoResult">
        select id,username,email,phone from user where email=#{email} and password=#{password} and status=1
    </select>
</mapper>
